<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lightlinks.dibs.dibslightlinks">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name=".ModeClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_dibs"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreenActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceListActivity"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:screenOrientation="portrait"/>
        <activity android:name=".ConfigureModeActivity"
            android:screenOrientation="portrait"
            android:label="@string/configure_modes"
            android:parentActivityName=".MainScreenActivity"/>
        <activity android:name=".ConfigPartyActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ConfigureModeActivity"/>
        <activity android:name=".ConfigPowerSaveActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ConfigureModeActivity"/>
        <activity android:name=".ConfigSleepModeActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ConfigureModeActivity"/>
        <activity android:name=".ConfigCrowdModeActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ConfigureModeActivity"/>
        <activity android:name=".ConfigSecurityActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ConfigureModeActivity"/>

    </application>

</manifest>
